:root {
  --primerry-text-color: #212121;
  --primerry-bg-color: #ffffff;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primerry-text-color);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-part-two {
  color: var(--primerry-text-color);
}

/* site nav */
.site-nav .link {
  color: var(--primerry-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--title-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* hero */
.button {
  background: var(--accent-color);
  color: var(--primerry-bg-color);
}
.features-title-text {
  color: var(--title-text-color);
}

.filters .button {
  background: var(--title-text-color);
  color: #212121;
}

button:hover,
button:focus {
  background: var(--accent-color);
  color: var(--primerry-bg-color);
}

/* Work */

/* our-team */

.team-title-text {
  color: var(--title-text-color);
}
